# ~/.conf-scripts/.gitignore
# Matthew Ball (copyleft 2012, 2013)

# ignore the passwords directory
passwords/

# ignore a bunch of old config stuff
aptitude-dir/
conkeror-dir/
mpd-dir/
ncmpcpp-dir/

# ...
irssi-dir/sasl.auth

# ignore a bunch of oldish emacs stuff
emacs-dir/extras-el/cc-old.el
emacs-dir/extras-el/logic-mode.el
emacs-dir/extras-el/erc-highlight-nicknames.el

# ignore unnecessary emacs-related files
emacs-dir/custom.el.*
emacs-dir/config-el/#*#
emacs-dir/save-place
emacs-dir/erc/
emacs-dir/var/pcache/gh/gh-gist-api/matthew-ball
emacs-dir/ac-comphist.dat
emacs-dir/.org-id-locations
emacs-dir/ac-dict/
emacs-dir/auto-complete-config.el
emacs-dir/auto-complete-config.elc
emacs-dir/auto-complete.el
emacs-dir/auto-complete.elc
emacs-dir/auto-save-list/
emacs-dir/apt-el/*
emacs-dir/bookmarks
emacs-dir/newsticker/*
emacs-dir/elpa/
emacs-dir/dictem-1.0.4/
emacs-dir/emacs-desktop
emacs-dir/eshell/history
emacs-dir/eshell/lastdir
emacs-dir/minibuffer-history
emacs-dir/recent-files
emacs-dir/smex-items
emacs-dir/session.*
emacs-dir/projectile.cache
emacs-dir/contacts-file.el
emacs-dir/tramp
emacs-dir/eproject.lst
emacs-dir/*.elc
# emacs-dir/popup.elc
# emacs-dir/fuzzy.elc
# emacs-dir/org-exp-bibtex.el # IMPORTANT: NEED THIS FILE !!!
emacs-dir/save-files/
emacs-dir/url/
emacs-dir/.emacs.desktop.lock
emacs-dir/.emms-history
emacs-dir/emms/history
# ignore w3m related files
emacs-dir/w3m/*
emacs-dir/#*
emacs-dir/erc-extras/*
# ignore the mutt data
mutt-dir/
# ignore stumpwm's debug text
stumpwm-dir/debug-output.txt
stumpwm-dir/debug.lisp
# ignore ncmpcpp's error.log files
ncmpcpp-dir/error.log
# ignore aptitude stuff
# aptitude-dir/config-old
# ignore backup files
*~
/emacs-dir/info/dir
/emacs-dir/info/sicp.info.gz
/emacs-dir/ido.last
/emacs-dir/session.2a0dae3eb-a399-4a32-8c28-9828b1ae4d9b
/emacs-dir/extras-el/org-school.el
/emacs-dir/info/emacs-w3m.info
/emacs-dir/info/onlisp.info
/emacs-dir/info/sicp.info
/emacs-dir/snippets/*
/emacs-dir/session.294cf72f8-d8ba-4939-9f63-8bfaed95a7f0
/emacs-dir/session.296cd84c6-b98f-4a93-be43-41423d7b1d0a
/emacs-dir/session.2d9425830-a86c-48e7-8f85-cab5dae251c4
/emacs-dir/session.2e804a7ac-3696-4e06-be68-19e009f69a7c
/emacs-dir/session.2f150dc2b-dbdd-4f64-b493-2582c977f7a0
/emacs-dir/session.2f8be4d47-1098-4bde-81e5-7c3541e47d1e
/emacs-dir/extras-el/sr-speedbar.el
/emacs-dir/info/onlisp.info-1
/emacs-dir/info/onlisp.info-2
/emacs-dir/info/onlisp.info-3
/emacs-dir/info/onlisp.texi
/stumpwm-dir/start-stumpwm.sh
/emacs-dir/projectile-bookmarks.eld
/emacs-dir/extras-el/apt-mode.el
# /emacs-dir/extras-el/org-entities-user+.el
/emacs-dir/bbdb
/.#README
/emacs-dir/ido-cache
/emacs-dir/slime-history.el
