# ============================
# ~/.conf-scripts/.gitignore
# Matthew Ball (copyleft 2012)
# ============================

# ignore the passwords directory
passwords/
# ignore unnecessary emacs-related files
emacs-dir/ac-comphist.dat
emacs-dir/ac-dict/
emacs-dir/auto-complete-config.el
emacs-dir/auto-complete-config.elc
emacs-dir/auto-complete.el
emacs-dir/auto-complete.elc
emacs-dir/auto-save-list/
emacs-dir/apt-el/*
emacs-dir/elpa/
emacs-dir/emacs-desktop
emacs-dir/history
emacs-dir/recentf
emacs-dir/smex-items
emacs-dir/eproject.lst
emacs-dir/*.elc
# emacs-dir/popup.elc
# emacs-dir/fuzzy.elc
emacs-dir/save-files/
emacs-dir/url/
emacs-dir/.emacs.desktop.lock
emacs-dir/.emms-history
# ignore the mutt data
mutt-dir/
# ignore stumpwm's debug text
stumpwm-dir/debug-output.txt
# ignore ncmpcpp's error.log files
ncmpcpp-dir/error.log
# ignore backup files
*~
