# ~/.conf-scripts/.gitignore
# Matthew Ball (copyleft 2012, 2013)

# ignore the passwords directory
passwords/

# ignore a bunch of old config stuff
aptitude-dir/
conkeror-dir/
mpd-dir/
ncmpcpp-dir/

# ignore a bunch of oldish emacs stuff
emacs-dir/extras-el/cc-old.el
emacs-dir/extras-el/logic-mode.el
emacs-dir/extras-el/erc-highlight-nicknames.el

# ignore unnecessary emacs-related files
emacs-dir/config-el/#*#
emacs-dir/erc/
emacs-dir/var/pcache/gh/gh-gist-api/matthew-ball
emacs-dir/ac-comphist.dat
emacs-dir/.org-id-locations
emacs-dir/ac-dict/
emacs-dir/auto-complete-config.el
emacs-dir/auto-complete-config.elc
emacs-dir/auto-complete.el
emacs-dir/auto-complete.elc
emacs-dir/auto-save-list/
emacs-dir/apt-el/*
emacs-dir/bookmarks
emacs-dir/newsticker/*
emacs-dir/elpa/
emacs-dir/dictem-1.0.4/
emacs-dir/emacs-desktop
emacs-dir/eshell/history
emacs-dir/eshell/lastdir
emacs-dir/minibuffer-history
emacs-dir/recent-files
emacs-dir/smex-items
emacs-dir/tramp
emacs-dir/eproject.lst
emacs-dir/*.elc
# emacs-dir/popup.elc
# emacs-dir/fuzzy.elc
# emacs-dir/org-exp-bibtex.el # IMPORTANT: NEED THIS FILE !!!
emacs-dir/save-files/
emacs-dir/url/
emacs-dir/.emacs.desktop.lock
emacs-dir/.emms-history
emacs-dir/emms/history
# ignore w3m related files
emacs-dir/w3m/*
emacs-dir/#*
emacs-dir/erc-extras/*
# ignore the mutt data
mutt-dir/
# ignore stumpwm's debug text
stumpwm-dir/debug-output.txt
# ignore ncmpcpp's error.log files
ncmpcpp-dir/error.log
# ignore aptitude stuff
# aptitude-dir/config-old
# ignore backup files
*~
